body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  padding: 0px 156px 0px 156px;
}

:root {
  --brand-color: #2e2f42;
  --subtitle-color-text: #2e2f42;
  --text-font-size: 16px;
}

li {
  list-style-type: none;
}
.ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------------------------TOP LINE----------------------------------------- */
.logo-web {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.logo-header {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2e2f42;
}

.navigation a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

.navigation a:hover,
.navigation a:focus {
  color: #404bbf;
}

.address a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.address a:hover,
.address a:focus {
  color: #404bbf;
}

/* --------------------------------- FOOTER---------------------------------*/

footer {
  width: 1440px;
  height: 310px;
  background: var(--brand-color);
}

.logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  height: 72px;
  color: #e7e9fc;
  font-size: var(--text-font-size);
}

/* -------------------------------- MAIN ---------------------------- */
.button {
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background: #404bbf;
}

.btn-filtrs {
  background: #f4f4fd;
  color: #4d5ae5;
}

.btn-filtrs:hover,
.btn-filtrs:focus {
  background: #404bbf;
  color: #ffffff;
}

.body {
  width: 1440px;
  height: 600px;
  background: var(--brand-color);
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  width: 494px;
  height: 120px;
  left: 473px;
  top: 260px;
  color: #ffffff;
}
.subtitle {
  width: 264px;
  height: 24px;
  color: var(--subtitle-color-text);
}

.pretitle {
  color: #2e2f42;
}

.text {
  color: #434455;
  font-size: var(--text-font-size);
}
